@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* General */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Carlito', sans-serif;
  font-size: 16px;
  min-height: 100vh;
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  min-height:100vh;
  min-height:100svh;
}

a {
  font-weight: 700;
  text-decoration: none;
  color: #00BF79;
}

a:hover {
  color: #005949;
}


/* Menu */

header {
  background-color: #FFF;
  width: 100%;
  height: 80px;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  box-shadow: 0 5px 5px #18181825;
  z-index: 1000;
}

header nav {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

header nav a {
  text-decoration: none;
  padding: 8px 16px;
  color: #181818;
}


/* Homepage Intro */

#home-intro-vid {
  position: absolute;
  top: 0;
  z-index: -1000;
  overflow: hidden;
}

#home-intro-vid video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}


#home-intro-vid::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(120deg,#B4FF66ce,#00BF79ce);
}

.home-intro {
  position: relative;
  margin: 0 auto;
  z-index: 1;
  height: 100vh;
  max-width: 960px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1.hero-title, p.home-title, .home-description p {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 5px #00594975;
}

.home-intro hr { 
  width: 20%;
  color: #fff;
  min-width: 200px;
}

h1.hero-title {
  margin-top: -25%;
  font-weight: 400;
  font-size: 2.3rem;
  margin-bottom: 1rem;
}

p.home-title {
  font-weight: 700;
  font-style: italic;
  font-size: 4.5rem;
  line-height: 5rem;
  margin: 2rem 0;
}

.home-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  background-color: #00594975;
  border-radius: 8px;
  margin: 2rem 0;
  padding: 1.5rem 2rem;
  width: 60%;
  max-width: 920px;
  min-width: 320px;
}

.home-description p {
  font-size: 1.2rem;
}


/* Featured cards */

.featured {
  width: 90%;
  position: relative;
  top: -225px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 auto;
  gap: 20px;
}

.featured-recipe {
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 325px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #18181825;
  margin-bottom: 85px;
}

.featured-combo {
  position: relative;
}

.feat-user-img {
  width: 88px;
  height: auto;
  outline: 5px solid #fff;
  border-radius: 50%;
  box-shadow: 10px 10px 5px #18181825;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
}

.feat-img {
  width: 100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.feat-info {
  padding: 24px 32px;
}

h3.featured-title {
  font-size: 1.6rem;
}

.featured-user {
  color: #707070;
  font-weight: 700;
}

.recipe-cat {
  display: flex;
  gap: 0.5rem;
}

p.featured-description {
  margin: 20px 0;
}

a.featured-link {
  display: inline-block;
  position: relative;
  width: 100%;
  text-decoration: none;
  text-align: right;
  border-top: 1px solid #00BF79;
  padding: 0.5rem 0 0;
  margin-top: 1rem;
}

a.featured-link::after{
  content: '';
  position: relative;
  top: 0.4rem;
  margin-left: 0.5rem;
  display: inline-block;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url(../img/icons/arrow-right.svg);
  background-size: cover;
}

a.featured-link:hover::after {
  filter: brightness(0) saturate(100%) invert(28%) sepia(18%) saturate(2293%) hue-rotate(123deg) brightness(92%) contrast(104%);
}


/* Buttons */
a.btn, a.btn-cat {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 8px;
  border: none;
}

a.home-btn {
  color: #005949;
  background-color: #fff;
  font-size: 1rem;
  padding: 0.75rem 2rem;
}

a.home-btn:hover {
  color: #fff;
  background-color: #005949;
  transition: all 5ms ease-in-out;
}

a.btn-cat-meat, a.btn-cat-breakfast, a.btn-cat-fast,
a.btn-cat-dessert, a.btn-cat-soup {
  font-size: 0.8rem;
  padding: 0.25rem 0.75rem;
  margin: 0.5rem 0;
  color: #fff;
}

a.btn-cat-meat {
  background-color: #6D3754;
}

a.btn-cat-breakfast {
  background-color: #F7931E;
}

a.btn-cat-fast {
  background-color: #B4D966;
}

a.btn-cat-dessert {
  background-color: #E76871;
}

a.btn-cat-soup {
  background-color: #A14234;
}


/* Footer */

footer {
  background-color: #1B2936;
  color: #fff;
  margin-top: auto;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Recipe page */

.recipe-img-container {
  position: fixed;
  top: 0;
  z-index: -1000;
  overflow: hidden;
}

.recipe-img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.recipe-container {
  width: 50%;
  background-color: #fff;
  padding: 7rem;
}

.recipe-body {
  max-width: 550px;
  margin: 0 auto;
}

.recipe-data {
  margin: 0.4rem 0 2rem;
}

.recipe-data .recipe-time::before,
.recipe-data .recipe-keywords::before {
  content: '';
  position: relative;
  top: 0.4rem;
  display: inline-block;
  background-size: cover;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
}

.recipe-data .recipe-time::before {
  background-image: url(../img/icons/timer.svg);
}

.recipe-data .recipe-keywords {
  color: #707070;
}

.recipe-data .recipe-keywords::before {
  background-image: url(../img/icons/label.svg);
}

section.ingredients, section.preparation {
  margin: 3.5rem 0;
}


section.ingredients ul {
  columns: 2;
  gap: 1.5rem;
  margin: 1rem 1rem 1rem 2rem;
}

section.preparation ol {
  margin: 1rem 1rem 4rem 2rem;
}

section.preparation ol li {
  margin-bottom: 1rem;
}

section.ingredients ul li::marker,
section.preparation ol li::marker {
  color: #00BF79;
  font-weight: 700;
}

.recipe-hr {
  color: #00BF79;
}

section.recipe-user {
  background-color:#f8f8f8;
  border-radius: 8px;
  display: flex;
  padding: 2rem;
  gap: 1.5rem;
}

.recipe-profile-pic {
  border-radius: 50%;
}

.user-description a {
  display: inline-block;
  margin-top: 1rem;
}